.homeScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home{
    width: 100vw;
    height: 92vh;
    
    position: fixed;
    bottom: 0;
    left: 0;
  
    background-color: rgb(201, 96, 96);
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pet{
    top: 0;
    left: 0;

    width: 30vw;
    height: 92vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status{
    width: 30vw;
    height: 27vh;

    background-image: url('../../public/assests/rilakkuma_background2.png');
    background-size: cover;
}

#chat{
    width: 100%;
    height: auto;
    background-color: blue;
}