.homeScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home{
    width: 100vw;
    height: 92vh;
    
    position: fixed;
    bottom: 0;
    left: 0;
  
    background-color: var(--model-bgColor);
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pet{
    top: 0;
    left: 0;

    width: 30vw;
    height: 92vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status{
    width: 30vw;
    height: 28vh;

    background-image: url('../../public/assets/rilakkuma_background2.png');
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#EmojiPickerContainer{
    display: block;
    position: absolute;
    left: 4.5vw;
    bottom: 4vh;
}

.modal-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7DA6B6;

    height: 50vh;
    width: 70vh;
    box-shadow: 24;
    border-radius: 5%;
}

#modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vh;
    width: 62.5vh;
    color: white
}