.loading-screen{
    min-width: 100vw;
    min-height: 100vh;
           
    position: fixed;
    top: 0;
    left: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-image: url('../../public/assests/rilakkuma_background.png');
    background-size: cover;
}